{% extends 'manager/view/base.html.twig' %}

{% block title %}投稿完了{% endblock %}
{% block content %}
    <p>投稿完了しました</p>
    <a href="{{constant('common\\model\\Bootstrap::MANAGER_TOP_URL')}}">管理者トップ画面へ戻る</a>   
{% endblock %}