<div id="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">
                    <i class="fas fa-user"></i>
                    <span class="ml-2">ユーザー画面</span>
                </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="account.php">
                <i class="fas fa-user-circle"></i>
                <span class="ml-2">アカウント</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="user_list.php">
                <i class="fas fa-wrench"></i>
                <span class="ml-2">会員詳細</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="top.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="ml-2">情報共有画面</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="read_check_list.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="ml-2">既読確認画面</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="info_check_list.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="ml-2">投稿管理者チェック画面</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="test_list.php">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="ml-2">技術スキルチェック</span>
            </a>
        </li> 
    </ul>
</div>