<div id="menu">
    <ul>
        <li><a href="user.php">アカウント</a></li>
        <li><a href="user_list.php">会員詳細</a></li>
        <li><a href="staff_top.php">情報共有画面</a></li>
        <li><a href="read_check.php">既読確認画面</a></li>
        <li><a href="post_check.php">投稿管理者チェック画面</a></li>
        <li><a href="summary.php">サマリー</a></li>
        <li><a href="skill.php">技術スキルチェック</a></li>
        <form method="get" action="../../info/controller/search.php">
            検索<input type="text" name="search">
            <input name="send" type="submit" value="検索">
        </form>
    </ul>
</div>