<div id="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">
                    <i class="fas fa-user"></i>
                    <span class="ml-2">スタッフ画面</span>
                </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="account.php">
                <i class="fas fa-user-circle"></i>
                <span class="ml-2">マイページ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="user_list.php">
                <i class="fas fa-wrench"></i>
                <span class="ml-2">スタッフリスト</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="top.php">
                <i class="fas fa-comment-medical"></i>
                <span class="ml-2">医療情報ノート</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="read_check_list.php">
                <i class="fas fa-book-reader"></i>
                <span class="ml-2">スタッフ未読状況</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="info_check_list.php">
                <i class="fas fa-envelope"></i>
                <span class="ml-2">投稿確認依頼</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="test_list.php">
                <i class="fas fa-pencil-alt"></i>
                <span class="ml-2">スキルチェック</span>
            </a>
        </li> 
    </ul>
</div>