{% extends 'manager/view/base.html.twig' %}

{% block title %}未読記事{% endblock %}
{% block content %}
    <h2 class="h2">{{name}}さん：未読記事</h2>
    {% if unreadInfos is empty %}
        <p>全て既読済みです</p>
    {% else %}
        {% for key, value in unreadInfos %}
            タイトル：{{value}}<br><br>
        {% endfor %}
    {% endif %}
    <a href="{{constant('common\\model\\Bootstrap::MANAGER_TOP_URL')}}">戻る</a>
{% endblock %}
