<html>
<head>
    <meta charset="UTF-8">
    <title>管理者ログイン成功ページ</title>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>管理者ログイン成功ページ</h1>
    <div class="message">{{message}}</div>
    <a href="manager_top.php">トップページへ</a><br>
    <a href="logout.php">ログアウト</a>
</body>
</html>