<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="{{constant('common\\model\\Bootstrap::APP_URL')}}manager/js/common.js"></script>
    <title>トップページ（管理者用）</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h1><span>-CareFlow-(管理者用)</span></h1>
            <p>{{message}}</p>
            <a href="{{'../../user/controller/logout.php'}}">ログアウト</a><br>
            <a href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">ユーザー画面</a>
        </div>
        <div class="side">
            <p>MENU</p>
            {% include 'manager/view/menu.html.twig' %}
        </div>
    </div>
    <div id="info_share">
        <p>情報共有ページのカテゴリー</p>
        <div id="category">
        {% include 'manager/view/category_list.html.twig' %}
        </div>
        <button class='category_create_btn' type="button">＋(メインカテゴリーの追加)</button>
        <span class="ctg">
            <form id="form_0" action="../../manager/controller/top.php" method="post">
                <input class='category_input' type='text' name='ctg_name'>
                <button type='submit' for="form_0">送信</button>
            </form>
        </span>
        <div id="post">
            <a href="../../info/controller/post.php"><input type="button" name="post" value="新規投稿" id="post" /></a>
        </div>
    </div>
</body>
</html>