<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>トップページ（スタッフ用）</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h1><span>-CareFlow-</span></h1>
            <p>{{message}}</p>
            <a href="{{'logout.php'}}">ログアウト</a>
        </div>
        <div class="side">
            <p>MENU</p>
            {% include 'user/view/menu.html.twig' %}
        </div>
    </div>
    <div id="info_share">
        <p>情報共有ページのカテゴリー</p>
        <div id="category">
        {% include 'user/view/category_list.html.twig' %}
        </div>
        <div id="post">
            <a href="../../info/controller/post.php"><input type="button" name="post" value="新規投稿" id="post" /></a>
        </div>
    </div>
</body>
</html>