{% extends 'manager/view/base.html.twig' %}

{% block title %}TOPページ（管理者）{% endblock %}
{% block content %}
    <h2 class="h2">医療情報ノート</h2>
    <div id="info_share">
        <div id="category">
        {% include 'manager/view/category_list.html.twig' %}
        </div>
        <button class='category_create_btn' type="button">＋(メインカテゴリーの追加)</button>
        <span class="ctg">
            <form id="form_0" action="../../manager/controller/top.php" method="post">
                <input class='category_input' type='text' name='ctg_name'>
                <button type='submit' for="form_0">送信</button>
            </form>
        </span>
        <div id="post">
            <a href="../../info/controller/post.php"><input type="button" name="post" value="新規投稿" id="post" /></a>
        </div>
    </div>
    
{% endblock %}