<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>ログインページ</title>
    <style>
        body {
        margin: 50vh auto 0;
        transform: translateY(-50%);
        padding: 15px 30px;
        color: #554d4d;
        text-align: center;
        width: 500px;
    }
    .red {
        color: red;
    }
    </style>
</head>
<body>
    <h2>ログイン</h2>
    <form action="login.php" method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" name="name" placeholder="Name" id="form2Example1" class="form-control" />
            {% if message. name | length > 0 %}<br><span
                class="red">{{message.name}}</span>{% endif %}
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" name="email" placeholder="email" id="form2Example1" class="form-control" />
            {% if message. email | length > 0 %}<br><span
                class="red">{{message.email}}</span>{% endif %}
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="pass" placeholder="Password" id="form2Example2" class="form-control" />
            {% if message. pass | length > 0 %}<br><span
                class="red">{{message.pass}}</span>{% endif %}
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col">
            <!-- Simple link -->
            <a href="request_form.php">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" name="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="regist.php">Register</a></p>
        </div>
    </form>
</body>
</html>