<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログアウトページ</title>
</head>
<body>
    <h1>ログアウトページ</h1>
    {{message}}
    <a href="login.php">ログインページへ</a>
</body>
</html>