<!DOCTYPE html>
<html lang="ja">
<style>
    body {
        margin: 50vh auto 0;
        transform: translateY(-50%);
        padding: 15px 30px;
        color: #554d4d;
        text-align: center;
        width: 300px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>ログアウトページ</title>
</head>
<body>
    <h1>ログアウトページ</h1>
    {{message}}<br>
    <a href="login.php">ログインページへ</a>
</body>
</html>