<div id="menu">
    <ul>
        <li><a href="../../manager/controller/top.php">{{manager_message}}</a></li>
        <li><a href="controller/user.php">アカウント</a></li>
        <li><a href="controller/staff_top.php">情報共有画面</a></li>
        <li><a href="controller/summary.php">サマリー</a></li>
        <li><a href="test_list.php">技術スキルチェック</a></li>
        <form method="get" action="../../info/controller/search.php">
            検索<input type="text" name="search">
            <input name="send" type="submit" value="検索">
        </form>
    </ul>
</div>