
{% extends 'manager/view/base.html.twig' %}

{% block title %}{% endblock %}
{% block content %}
    <p>{{message}}</p>
    {% if url is defined %}
        <a href="{{url}}">{{url_message}}</a>
    {% endif %} 
{% endblock %}