<html>
<head>
    <meta charset="utf-8">
    <title>会員登録確認</title>
</head>
<body>
    <form action="request.php" method="POST">
        <p>パスワードリセット</p>
        <input type="hidden" name="csrf_token" value="{{'csrf_token'}}">
        <label>
            メールアドレスを入力してください。リセット用URLをお送りします。
            <input type="email" name="email" value="">
        </label>
        <button type="submit">送信</button>
    </form>
</body>
</html>