<html>
<head>
    <meta charset="UTF-8">
    <title>ログイン成功ページ</title>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>ログイン成功ページ</h1>
    <div class="message">{{message}}</div>
    <a href="top.php">トップページへ</a><br>
    <a href="../../manager/controller/top.php">{{manager_message}}</a><br>
    <a href="logout.php">ログアウト</a>
</body>
</html>